body {
  background-color: rgb(0, 0, 0);
  background-image: url(https://images2.alphacoders.com/807/thumbbig-807100.webp);
  image-resolution: auto;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 0;
  position: center;
  position:relative;
  
}

#boton-02 {
  position: relative;
  left: 25.2cm;
  top: 47px;
  z-index: 3;
}

#barra-01{
cursor: all-scroll;

}


#h2-02{
color: cornsilk;
position:relative;
margin: 20px;
text-decoration-line: underline;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}